// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#tasks {
  padding-left: 0;
  margin-left: 10px;
  list-style-type: none;
}

.details-colored {
  background-color: #f0f0f5;
}
